@font-face {
  font-family: 'Roobert-Regular';
  src: local('Roobert-Regular'), url('./Roobert-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Roobert-Medium';
  src: local('Roobert-Medium'), url('./Roobert-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Roobert-SemiBold';
  src: local('Roobert-SemiBold'), url('./Roobert-SemiBold.otf') format('otf');
}

@font-face {
  font-family: 'Roobert-Bold';
  src: local('Roobert-Bold'), url('./Roobert-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Din-Black-Regular';
  src: local('Din-Black-Regular'), url('./DIN Black Regular.otf') format('otf');
}

@font-face {
  font-family: 'Noto-Sans-Regular';
  src: local('Noto-Sans-Regular'), url('./NotoSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Urbanist';
  src: local('Urbanist-Regular'), url('./Urbanist-Regular.ttf') format('ttf');
}
